<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>User Info</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Rinc Liu</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Name</string>
			<key>Key</key>
			<string>pref_name</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Verified</string>
			<key>Key</key>
			<string>pref_verified</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>Chinese</string>
				<string>English</string>
			</array>
			<key>Values</key>
			<array>
				<string>cn</string>
				<string>en</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Languge</string>
			<key>Key</key>
			<string>pref_lang</string>
			<key>DefaultValue</key>
			<string>cn</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Level</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>pref_level</string>
			<key>DefaultValue</key>
			<integer>8</integer>
			<key>MinimumValue</key>
			<integer>1</integer>
			<key>MaximumValue</key>
			<integer>10</integer>
		</dict>
	</array>
</dict>
</plist>
